<% layout("/layouts/boilerplate") %>

        <section class="min-h-screen bg-gray-100 py-10 px-4">
                <div class="max-w-4xl mx-auto">
                        <h1 class="text-3xl font-bold text-gray-800 mb-8">
                                Skills Overview
                        </h1>

                        <div class="">
                                <% skills.forEach(skillObj=> { %>
                                <div class="bg-white shadow-md rounded-2xl p-6 border border-gray-200 hover:shadow-lg transition duration-300">
                                        <div class="flex items-center justify-between mb-2">
                                                <h2 class="text-xl font-semibold text-blue-700">
                                                        <%= skillObj.skill %>
                                                </h2>

                                                <span class="px-2 py-0.5 bg-blue-100 text-blue-800 rounded-full text-xs font-medium">
                                                        #<%= skillObj.tag %>
                                                </span>
                                        </div>
                                          <!-- Key Points Row -->
                                        <div class="text-lg leading-relaxed tracking-wide">
                                        <% skillObj.points.forEach((point, index) => { %>
                                                <!-- <% if (index !== skillObj.points.length - 1) { %>
                                                        <span> ● </span>
                                                <% } %> -->
                                        <span class="indpoint"><%= point %></span>
                                        <% }) %>
                                        </div>
                                </div>
                                <br>
                                <% }) %>
                        </div>
                </div>
        </section>


        <style>
                .indpoint{
                        display: inline-block;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        padding: 2px 4px;
                        background-color: #cedbff;
                        border-radius: 4px;
                        color: #1d4ed8; /* Blue-700 */
                        font-size: 0.875rem; /* Text-sm */
                }
        </style>